@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

/*-----------------------------------------------------------------------------*/

.reveal {
  transform: translateY(10rem);
  opacity: 0;
  transition: 1s;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*-----------------------------------------------------------------------------*/

.FromTop {
  animation: FromTop 1.25s ease-in-out;
}

@keyframes FromTop {
  0% {
    transform: translateY(-500px);
  }

  100% {
    transform: translateY(0);
  }
}

.FromBottom {
  animation: FromBottom 1.25s ease-in-out;
}

@keyframes FromBottom {
  0% {
    transform: translateY(500px);
  }

  100% {
    transform: translateY(0);
  }
}

.FromLeft {
  animation: FromLeft 1.25s ease-in-out;
}

@keyframes FromLeft {
  0% {
    transform: translateX(-1500px);
  }

  100% {
    transform: translateX(0);
  }
}

.FromRight {
  animation: FromRight 1.25s ease-in-out;
}

@keyframes FromRight {
  0% {
    transform: translateX(1000px);
  }

  100% {
    transform: translateX(0);
  }
}

/*-----------------------------------------------------------------------------*/
